{% extends 'first_app.html' %}
{% block head %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='draw.js') }}"></script>
    <style>
    .container {
      position: static;
}
</style>
{% endblock %}

{% block content %}
				<div class="container">
          <h1 class="text-center" style="margin-top: 5%;">Digit recognition</h1>
	        <p class="text-center text-large explanation">Draw a digit in a canvas below and press Save</p>
        <div class="columns">
        <div class="column col-4">
        </div>
        <div class="column col-4 text-center">
          <div class="card">
            <div class="crad-image">
            <canvas id="canvas", name ="draw" width="140" height="140" style="border:1px solid #000000;">
              <script type="text/javascript">
                $(document).ready(function() {
                    drawCanvas();
                  });
                </script>
              </canvas>
            </div>
            <div class="card-footer">
              <button id="send" class='btn'>Save</button>
              <button type="button" onclick='erase()' class='btn'>Erase</button>
            </div>
          </div>

<!--
        <div class="nested columns">
		      <div class="column col-6">
					          <button id="send" class='btn'>Save</button>
              </div>
              <div class="column col-6">
            <button type="button" onclick='erase()' class='btn'>Erase</button>
        </div>
        </div>
        -->
        </div>
        <div class="column col-4">
        </div>
        </div>
        </div>
        <div class="container">
          <p id="answer" class="text-center" hidden>answer
          </p>
        </div>
{% endblock %}
