
{%extends 'first_app.html'%}
{%block content%}
        <div>
				<div>
        <canvas id="canvas", name ="draw" width="140" height="140" style="border:1px solid #000000;">
        <script type="text/javascript">
            $(document).ready(function() {
                drawCanvas();
            });
        </script>
        </canvas>
				</div>
        <div>
          <div id=result>{{msg}}</div>
        </div>
        </div>
				<div>
						<button id="send">Save</button>
				</div>
        <div>
          <button type="button" onclick='erase()'>erase</button>
        </div>
{%endblock%}
