<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <title>My first flask app</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header class="navbar">
      <div class="navbar-primary">
        <a href="#" class="navbar-brand"><span class="text-large">DigitRecon</span></a>
      </div>
      <div class="navbar-section">
        <a href="{{ url_for('main.index') }}" class="btn btn-link">Home</a>
        {%if not current_user.is_authenticated%}
        <a href="{{ url_for('auth.login') }}" class="btn btn-link">Login</a>
        <a href="{{ url_for('auth.signup') }}" class="btn btn-link">Sign Up</a>
        {%endif%}
        {%if current_user.is_authenticated%}
        <a href="{{ url_for('main.profile') }}" class="btn btn-link">Profile</a>
        <a href="{{ url_for('auth.logout') }}" class="btn btn-link">Logout</a>
        {%endif%}
      </div>
    </header>
<div class="container centered">
    <div class="divider">
        {% block content %}
        {% endblock %}
    </div>
</div>
  </section>
  </body>
</html>
